@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.section-background {
    background: #101313;
}

.shadowed-box-border {
    border-top: 1px solid #1d1f1f;
}

.line-height-0 {
    line-height: 0;
}

.page-anchor {
    display: flex;
    align-items: center;
    transition: height 450ms;
    position: relative;
}

.page-anchor:hover {
    height: auto;
}

.anchor-icon {
    opacity: 0;
    transition: opacity 450ms;
    position: absolute;
    left: 0;
}

.page-anchor:hover .anchor-icon {
    opacity: 1;
}

.anchor-text {
    padding-left: 14px;
}

.page-anchor:not(:hover) .anchor-icon {
    opacity: 0;
}

@media (min-width: 1024px) {
    .lg\:vh-100-128 {
        height: calc(100vh - 128px);
        top: 64px
    }
}

body {
    background-color: #100f0f;
}